.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.page-layout__topBar {
	background-color: #000080;
	padding: 20px 10px;
	font-weight: bold;
	color: white;
}

.mockupContainer {
	width: 100%;
    height: 100%;
	background-color: #D3D3D3;
}

.tabs-container {
    padding: 20px 30px;
}

.tab-link {
    width: 25%;
    display: inline-block;
    border: 1px solid grey;
}

.u-d-inline {
    display: inline-block;
    vertical-align: middle;
}

.select-container {
    width: 400px;
}

.heading-text {
    margin-right: 20px;
}